extends ../layout/common

block content
   .container
      .d-flex.align-items-center
         h1.mr-3 Hello there 
         a.btn.btn-primary(href="/users/create") New
      .d-flex.height-30.line-height-30.justify-content-end
         form(action="/users/search", method="GET")
            input.mr-3(type="text",name="q")
            button.btn.btn-primary Search
            
      
      table.table
         thead
            tr
               th Name
               th Phone
               th Action
         tbody
            each user in users
               tr
                  td
                     span= user.name
                  td
                     span= user.phone
                  td 
                     a.btn.btn-light(href="/users/" + user.id) view